{{!-- barra de navegacion, donde estara el boton del carrito. Debe llevar el mismo id que en el archivo modal.js --}}
<nav class="navbar navbar-light bg-success">
    <div class="container justify-content-center">
        <a class="navbar-brand" href="#" data-bs-toggle="modal" data-bs-target="#modal" id="modalCarrito">
            <img src="/assets/img/cart.svg" alt="logo" width="50" height="40">
        </a>
    </div>
</nav>

